include .gitignore
include CONTRIBUTING.md
include CREDITS
include HISTORY.rst
include INSTALL.rst
include LICENSE
include MANIFEST.in
include Makefile
include README.rst
include SECURITY.md
include docs/.readthedocs.yaml
include docs/DEVGUIDE.rst
include docs/DEVNOTES
include docs/Makefile
include docs/README
include docs/_static/copybutton.js
include docs/_static/css/custom.css
include docs/_static/favicon.ico
include docs/_static/sidebar.js
include docs/conf.py
include docs/index.rst
include docs/make.bat
include docs/requirements.txt
include make.bat
include matrix_psutil/__init__.py
include matrix_psutil/_common.py
include matrix_psutil/_compat.py
include matrix_psutil/_psaix.py
include matrix_psutil/_psbsd.py
include matrix_psutil/_pslinux.py
include matrix_psutil/_psosx.py
include matrix_psutil/_psposix.py
include matrix_psutil/_pssunos.py
include matrix_psutil/_psutil_aix.c
include matrix_psutil/_psutil_bsd.c
include matrix_psutil/_psutil_common.c
include matrix_psutil/_psutil_common.h
include matrix_psutil/_psutil_linux.c
include matrix_psutil/_psutil_osx.c
include matrix_psutil/_psutil_posix.c
include matrix_psutil/_psutil_posix.h
include matrix_psutil/_psutil_sunos.c
include matrix_psutil/_psutil_windows.c
include matrix_psutil/_pswindows.py
include matrix_psutil/arch/aix/common.c
include matrix_psutil/arch/aix/common.h
include matrix_psutil/arch/aix/ifaddrs.c
include matrix_psutil/arch/aix/ifaddrs.h
include matrix_psutil/arch/aix/net_connections.c
include matrix_psutil/arch/aix/net_connections.h
include matrix_psutil/arch/aix/net_kernel_structs.h
include matrix_psutil/arch/bsd/cpu.c
include matrix_psutil/arch/bsd/cpu.h
include matrix_psutil/arch/bsd/disk.c
include matrix_psutil/arch/bsd/disk.h
include matrix_psutil/arch/bsd/net.c
include matrix_psutil/arch/bsd/net.h
include matrix_psutil/arch/bsd/proc.c
include matrix_psutil/arch/bsd/proc.h
include matrix_psutil/arch/bsd/sys.c
include matrix_psutil/arch/bsd/sys.h
include matrix_psutil/arch/freebsd/cpu.c
include matrix_psutil/arch/freebsd/cpu.h
include matrix_psutil/arch/freebsd/disk.c
include matrix_psutil/arch/freebsd/disk.h
include matrix_psutil/arch/freebsd/mem.c
include matrix_psutil/arch/freebsd/mem.h
include matrix_psutil/arch/freebsd/proc.c
include matrix_psutil/arch/freebsd/proc.h
include matrix_psutil/arch/freebsd/proc_socks.c
include matrix_psutil/arch/freebsd/proc_socks.h
include matrix_psutil/arch/freebsd/sensors.c
include matrix_psutil/arch/freebsd/sensors.h
include matrix_psutil/arch/freebsd/sys_socks.c
include matrix_psutil/arch/freebsd/sys_socks.h
include matrix_psutil/arch/linux/disk.c
include matrix_psutil/arch/linux/disk.h
include matrix_psutil/arch/linux/mem.c
include matrix_psutil/arch/linux/mem.h
include matrix_psutil/arch/linux/net.c
include matrix_psutil/arch/linux/net.h
include matrix_psutil/arch/linux/proc.c
include matrix_psutil/arch/linux/proc.h
include matrix_psutil/arch/linux/users.c
include matrix_psutil/arch/linux/users.h
include matrix_psutil/arch/netbsd/cpu.c
include matrix_psutil/arch/netbsd/cpu.h
include matrix_psutil/arch/netbsd/disk.c
include matrix_psutil/arch/netbsd/disk.h
include matrix_psutil/arch/netbsd/mem.c
include matrix_psutil/arch/netbsd/mem.h
include matrix_psutil/arch/netbsd/proc.c
include matrix_psutil/arch/netbsd/proc.h
include matrix_psutil/arch/netbsd/socks.c
include matrix_psutil/arch/netbsd/socks.h
include matrix_psutil/arch/openbsd/cpu.c
include matrix_psutil/arch/openbsd/cpu.h
include matrix_psutil/arch/openbsd/disk.c
include matrix_psutil/arch/openbsd/disk.h
include matrix_psutil/arch/openbsd/mem.c
include matrix_psutil/arch/openbsd/mem.h
include matrix_psutil/arch/openbsd/proc.c
include matrix_psutil/arch/openbsd/proc.h
include matrix_psutil/arch/openbsd/socks.c
include matrix_psutil/arch/openbsd/socks.h
include matrix_psutil/arch/osx/cpu.c
include matrix_psutil/arch/osx/cpu.h
include matrix_psutil/arch/osx/disk.c
include matrix_psutil/arch/osx/disk.h
include matrix_psutil/arch/osx/mem.c
include matrix_psutil/arch/osx/mem.h
include matrix_psutil/arch/osx/net.c
include matrix_psutil/arch/osx/net.h
include matrix_psutil/arch/osx/proc.c
include matrix_psutil/arch/osx/proc.h
include matrix_psutil/arch/osx/sensors.c
include matrix_psutil/arch/osx/sensors.h
include matrix_psutil/arch/osx/sys.c
include matrix_psutil/arch/osx/sys.h
include matrix_psutil/arch/solaris/environ.c
include matrix_psutil/arch/solaris/environ.h
include matrix_psutil/arch/solaris/v10/ifaddrs.c
include matrix_psutil/arch/solaris/v10/ifaddrs.h
include matrix_psutil/arch/windows/cpu.c
include matrix_psutil/arch/windows/cpu.h
include matrix_psutil/arch/windows/disk.c
include matrix_psutil/arch/windows/disk.h
include matrix_psutil/arch/windows/mem.c
include matrix_psutil/arch/windows/mem.h
include matrix_psutil/arch/windows/net.c
include matrix_psutil/arch/windows/net.h
include matrix_psutil/arch/windows/ntextapi.h
include matrix_psutil/arch/windows/proc.c
include matrix_psutil/arch/windows/proc.h
include matrix_psutil/arch/windows/proc_handles.c
include matrix_psutil/arch/windows/proc_handles.h
include matrix_psutil/arch/windows/proc_info.c
include matrix_psutil/arch/windows/proc_info.h
include matrix_psutil/arch/windows/proc_utils.c
include matrix_psutil/arch/windows/proc_utils.h
include matrix_psutil/arch/windows/security.c
include matrix_psutil/arch/windows/security.h
include matrix_psutil/arch/windows/sensors.c
include matrix_psutil/arch/windows/sensors.h
include matrix_psutil/arch/windows/services.c
include matrix_psutil/arch/windows/services.h
include matrix_psutil/arch/windows/socks.c
include matrix_psutil/arch/windows/socks.h
include matrix_psutil/arch/windows/sys.c
include matrix_psutil/arch/windows/sys.h
include matrix_psutil/arch/windows/wmi.c
include matrix_psutil/arch/windows/wmi.h
include matrix_psutil/tests/README.rst
include matrix_psutil/tests/__init__.py
include matrix_psutil/tests/__main__.py
include matrix_psutil/tests/test_aix.py
include matrix_psutil/tests/test_bsd.py
include matrix_psutil/tests/test_connections.py
include matrix_psutil/tests/test_contracts.py
include matrix_psutil/tests/test_linux.py
include matrix_psutil/tests/test_memleaks.py
include matrix_psutil/tests/test_misc.py
include matrix_psutil/tests/test_osx.py
include matrix_psutil/tests/test_posix.py
include matrix_psutil/tests/test_process.py
include matrix_psutil/tests/test_process_all.py
include matrix_psutil/tests/test_sunos.py
include matrix_psutil/tests/test_system.py
include matrix_psutil/tests/test_testutils.py
include matrix_psutil/tests/test_unicode.py
include matrix_psutil/tests/test_windows.py
include pyproject.toml
include scripts/battery.py
include scripts/cpu_distribution.py
include scripts/disk_usage.py
include scripts/fans.py
include scripts/free.py
include scripts/ifconfig.py
include scripts/internal/README
include scripts/internal/appveyor_run_with_compiler.cmd
include scripts/internal/bench_oneshot.py
include scripts/internal/bench_oneshot_2.py
include scripts/internal/check_broken_links.py
include scripts/internal/clinter.py
include scripts/internal/convert_readme.py
include scripts/internal/download_wheels_appveyor.py
include scripts/internal/download_wheels_github.py
include scripts/internal/generate_manifest.py
include scripts/internal/git_pre_commit.py
include scripts/internal/install-sysdeps.sh
include scripts/internal/install_pip.py
include scripts/internal/print_access_denied.py
include scripts/internal/print_announce.py
include scripts/internal/print_api_speed.py
include scripts/internal/print_dist.py
include scripts/internal/print_downloads.py
include scripts/internal/print_hashes.py
include scripts/internal/print_timeline.py
include scripts/internal/purge_installation.py
include scripts/internal/winmake.py
include scripts/iotop.py
include scripts/killall.py
include scripts/meminfo.py
include scripts/netstat.py
include scripts/nettop.py
include scripts/pidof.py
include scripts/pmap.py
include scripts/procinfo.py
include scripts/procsmem.py
include scripts/ps.py
include scripts/pstree.py
include scripts/sensors.py
include scripts/temperatures.py
include scripts/top.py
include scripts/who.py
include scripts/winservices.py
include setup.py
